.card {
  /* width: 15rem; */
  min-width: 15rem;
  max-width: 15rem;
  background-color: #333;
}

@media (min-width: 576px) {
  .card-group > .card {
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .card-group > .card {
    min-width: 5rem;
    max-width: 10rem;
    font-size: 0.8rem;
  }

  .card-group > .card > .card-body > .card-title {
    font-size: 1rem;
  }
}

.card-body {
  background-color: #333;
  color: #eee;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.favoriteButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.favoriteButton > img {
  width: 2.5rem;
  height: auto;
}
