.card-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* margin: auto; */
  margin-left: 5rem;
}

.cardGroupHeader {
  color: #fff;
  text-align: center;
}

.randomButton {
  margin-bottom: 3rem;
}

.songListControls > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
