.card-group {
  justify-content: space-evenly;
}

.cardGroupHeader {
  color: #fff;
  text-align: center;
}

.randomButton {
  margin-bottom: 3rem;
}

.songListControls > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
