.navbar > * {
  margin-right: 1rem;
}

.navSelected {
  text-decoration: underline;
}

.sideIcons > * {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.sideIconImage {
  height: 100%;
  width: auto;
}

.navContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.topIcons > * {
  display: none;
}

@media (max-width: 576px) {
  .sideIcons > * {
    display: none;
  }

  .topIcons {
    margin-right: 1rem;
  }

  .topIcons > * {
    display: block;
    margin-right: 1rem;
  }

  .topIcons > *:last-child {
    margin-right: 0;
  }
}
