.sidebar {
  width: 6.5rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -20px;

  display: flex;
  align-content: space-around;
  justify-content: right;
  background-color: #333;
  border-radius: 20px;
}
